@using ViewModel.AdminViewModels.BlogPostViewModels
@model IEnumerable<IndexBlogViewModel>

@{
    ViewBag.Title = "Index";
}

@if (ViewBag.Error == true)
{
    <div class="success divError">
        <span class="closebtn">&times;</span>
        <strong>@ViewBag.ErrorMessage</strong><br />
        @Html.ValidationSummary()
    </div>
}

<article class="article">
    <div class="main-bg-2 main-content">
        <!--Header-->
        <div class="mainHeader-2">
            <div class="container">
                <div class="row">
                    <div class="container-half">
                        <h1 class="primary-blue">My Blog</h1>
                    </div>
                    <div class="container-half">
                        <div class="right">
                            <div class="blog-header">
                                <input type="search" placeholder="Search Blog">
                                <a href="@Url.Action("AddBlog","BlogPost")" class="blog-btn">Add</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Table-->
        <div id="blogTable">
            @Html.Partial("_partialBlogList",Model);
        </div>
    </div>
</article>

<script type="text/javascript">
    $(function () {
        $(".closebtn").click(function () {
            $(".divError").fadeOut(1000);
        });
    });
</script>
