<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="BlogEntities" connectionString="metadata=res://*/Models.BlogModel.csdl|res://*/Models.BlogModel.ssdl|res://*/Models.BlogModel.msl;provider=System.Data.SqlClient;provider connection string='data source=DESKTOP-L0KG4H5;initial catalog=Blog;user id=sa;password=&quot;abc 123&quot;;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
    <!--<add name="BlogEntities" connectionString="metadata=res://*/Models.BlogModel.csdl|res://*/Models.BlogModel.ssdl|res://*/Models.BlogModel.msl;provider=System.Data.SqlClient;provider connection string='data source=10.142.70.127;initial catalog=Blog;user id=developer;password=&quot;123456&quot;;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />-->
    <!--faseeh-->
    <add name="BlogEntities" connectionString="metadata=res://*/Models.BlogModel.csdl|res://*/Models.BlogModel.ssdl|res://*/Models.BlogModel.msl;provider=System.Data.SqlClient;provider connection string='data source=DESKTOP-S78RMOK;initial catalog=Blog;user id=sa;password=&quot;abc 123&quot;;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />

  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>