<div class="Toppost-blogs">
    <div class="row">
        <div class="col-lg-7">
            <div class="blog-box">
                <div class="blog-pos">
                    <div class="blog-bg">
                        <img src="~/Content/Blog/images/blog-bg-horizontal.png" />
                    </div>
                    <div class="blogcard-bg">
                        <div class="blog-card">
                            <span>Tech, future of music</span>
                            <h3>We are leaving the phase of old music</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            <a href="#">Continue Reading <i class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="clr"></div>

            <div class="blog-box">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="blog-pos">
                            <div class="blog-bg">
                                <img src="~/Content/Blog/images/H-blog-small.png" />
                            </div>
                            <div class="blogcard-bg-s">
                                <div class="blog-card-s">
                                    <span>Tech, future of game</span>
                                    <h3>Advance robots are now on thier way</h3>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    <a href="#">Continue Reading <i class="fas fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="clr"></div>

                    <div class="col-lg-6">
                        <div class="blog-pos">
                            <div class="blog-bg">
                                <img src="~/Content/Blog/images/H-blog-small.png" />
                            </div>
                            <div class="blogcard-bg-s">
                                <div class="blog-card-s">
                                    <span>Tech, future of game</span>
                                    <h3>Advance robots are now on thier way</h3>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    <a href="#">Continue Reading <i class="fas fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-5">
            <div class="blog-box">
                <div class="blog-pos">
                    <div class="blog-bg">
                        <img src="~/Content/Blog/images/blog-bg.png" />
                    </div>
                    <div class="blogcard-bg">
                        <div class="blog-card">
                            <span>Tech, future of music</span>
                            <h3>We are leaving the phase of old music</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            <a href="#">Continue Reading <i class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>