<div class="Toppost-blogs">
    <div class="row">
        <div class="col-lg-4">
            <div class="blog-box">
                <div class="blog-pos">
                    <div class="blog-bg">
                        <img src="~/Content/Blog/images/blog-bg.png" />
                    </div>
                    <div class="blogcard-bg">
                        <div class="blog-card">
                            <span>Tech, future of music</span>
                            <h3>We are leaving the phase of old music</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            <a href="#">Continue Reading <i class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="blog-box">
                <div class="blog-pos">
                    <div class="blog-bg">
                        <img src="~/Content/Blog/images/blog-bg.png" />
                    </div>
                    <div class="blogcard-bg">
                        <div class="blog-card">
                            <span>Tech, future of music</span>
                            <h3>We are leaving the phase of old music</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            <a href="#">Continue Reading <i class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-lg-4">
            <div class="blog-box">
                <div class="blog-pos">
                    <div class="blog-bg">
                        <img src="~/Content/Blog/images/blog-bg.png" />
                    </div>
                    <div class="blogcard-bg">
                        <div class="blog-card">
                            <span>Tech, future of music</span>
                            <h3>We are leaving the phase of old music</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            <a href="#">Continue Reading <i class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>