@{
    ViewBag.Title = "Home Page";
}

<main class="cat-main">
    <div class="cat-main-bg">
        <img src="~/Content/Blog/images/Entertainment-vectorbg.png" /> <!-- 822x573 -->
    </div>
    <div class="cat-main-content">
        <div>
            <h5>Simple and productive</h5>
        </div>
        <div class="pt-2 pb-4">
            <h3>A directory of wonderful things</h3>
        </div>
        <div>
            <h4>Read what you want to</h4>
        </div>
        <div>
            <a href="#">Go to sports blogs <i class="fas fa-arrow-right"></i></a>
        </div>
    </div>
</main>