
@{
    ViewBag.Title = "Home";
}

<div class="headerContent">
    <div class="headerContent---box">
        <div class="row">
            <!--Series Card-->
            <div class="col-lg-4">
                <div class="blog-card">
                    <div class="blog-card---img">
                        <img src="~/Content/Images/Others/blog-card.jpeg" />
                    </div>
                    <div class="blog-card---content">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="cardAuther---tag col-lg-8">
                                    <a class="row align-items-center" href="#"><img src="~/Content/Images/Others/avatar-icon.png" class="pr-2" alt="">PandaDev Series</a>
                                </div>
                                <div class="cardAuther---icons row align-items-center col-lg-4">
                                    <div>
                                        <span><img src="~/Content/Images/Others/brain.png" alt="" data-toggle="tooltip" data-placement="top" title="1000 Likes"></span>
                                        <span><img src="~/Content/Images/Others/eye.png" alt="" data-toggle="tooltip" data-placement="top" title="1000 Views"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row pt-3">
                                <h3>Heading</h3>
                            </div>

                            <div class="row">
                                <div class="Authername">
                                    <p>auther name <span class="Authername---time">Feb 12 2019</span></p>
                                    <p>
                                        <span class="Authername---tags"><a href="">#tag1</a></span>
                                        <span class="Authername---tags"><a href="">#tag2</a></span>
                                    </p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="blogPara">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Normal Card-->
            <div class="col-lg-4">
                <div class="blog-card">
                    <div class="blog-card---img">
                        <img src="~/Content/Images/Others/blog-card.jpeg" />
                    </div>

                    <div class="blog-card---content">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="cardAuther---icons row align-items-center col-lg-4 offset-8">
                                    <div>
                                        <span><img src="~/Content/Images/Others/brain.png" alt="" data-toggle="tooltip" data-placement="top" title="1000 Likes"></span>
                                        <span><img src="~/Content/Images/Others/eye.png" alt="" data-toggle="tooltip" data-placement="top" title="1000 Views"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row pt-3">
                                <h3>Heading</h3>
                            </div>

                            <div class="row">
                                <div class="Authername">
                                    <p>auther name <span class="Authername---time">Feb 12 2019</span></p>
                                    <p>
                                        <span class="Authername---tags"><a href="">#tag1</a></span>
                                        <span class="Authername---tags"><a href="">#tag2</a></span>
                                    </p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="blogPara">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="blog-card">
                    <div class="blog-card---img">
                        <img src="~/Content/Images/Others/blog-card.jpeg" />
                    </div>

                    <div class="blog-card---content">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="cardAuther---icons row align-items-center col-lg-4 offset-8">
                                    <div>
                                        <span><img src="~/Content/Images/Others/brain.png" alt="" data-toggle="tooltip" data-placement="top" title="1000 Likes"></span>
                                        <span><img src="~/Content/Images/Others/eye.png" alt="" data-toggle="tooltip" data-placement="top" title="1000 Views"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row pt-3">
                                <h3>Heading</h3>
                            </div>

                            <div class="row">
                                <div class="Authername">
                                    <p>auther name <span class="Authername---time">Feb 12 2019</span></p>
                                    <p>
                                        <span class="Authername---tags"><a href="">#tag1</a></span>
                                        <span class="Authername---tags"><a href="">#tag2</a></span>
                                    </p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="blogPara">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main---content">
    <hr>
    <div class="maincard---box">
        <div class="pt-4 pb-4">
            <a href="#">
                <div class="main-card">
                    <div class="row">
                        <div class="col-lg-5">
                            <img src="~/Content/Images/Others/blog-card.jpeg" />
                        </div>
                        <div class="col-lg-7">
                            <div class="maincard---content">
                                <div class="row align-items-center">
                                    <div class="col-lg-6">
                                        <h3>Heading</h3>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="float-right">
                                            <p>auther name <span class="Authername---time">Feb 12 2019</span></p>
                                        </div>
                                    </div>
                                </div>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                <div class="cardAuther---icons row align-items-center col-lg-4 pt-3">
                                    <div>
                                        <span><img src="~/Content/Images/Others/brain.png" alt="" data-toggle="tooltip" data-placement="top" title="1000 Likes"></span>
                                        <span><img src="~/Content/Images/Others/eye.png" alt="" data-toggle="tooltip" data-placement="top" title="1000 Views"></span>
                                        <span><img src="~/Content/Images/Others/comments.png" alt="" data-toggle="tooltip" data-placement="top" title="100 Commnts"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="pt-4 pb-4">
            <a href="#">
                <div class="main-card">
                    <div class="row">
                        <div class="col-lg-5">
                            <img src="~/Content/Images/Others/blog-card.jpeg" />
                        </div>
                        <div class="col-lg-7">
                            <div class="maincard---content">
                                <div class="row align-items-center">
                                    <div class="col-lg-6">
                                        <h3>Heading</h3>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="float-right">
                                            <p>auther name <span class="Authername---time">Feb 12 2019</span></p>
                                        </div>
                                    </div>
                                </div>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                <div class="cardAuther---icons row align-items-center col-lg-4 pt-3">
                                    <div>
                                        <span><img src="~/Content/Images/Others/brain.png" alt="" data-toggle="tooltip" data-placement="top" title="1000 Likes"></span>
                                        <span><img src="~/Content/Images/Others/eye.png" alt="" data-toggle="tooltip" data-placement="top" title="1000 Views"></span>
                                        <span><img src="~/Content/Images/Others/comments.png" alt="" data-toggle="tooltip" data-placement="top" title="100 Commnts"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-12">
            <div class="row">
                <img src="~/Content/Images/Others/banner-ads-amazon.jpg" />
            </div>
        </div>
        <div class="pt-4 pb-4">
            <a href="#">
                <div class="main-card">
                    <div class="row">
                        <div class="col-lg-5">
                            <img src="~/Content/Images/Others/blog-card.jpeg" />
                        </div>
                        <div class="col-lg-7">
                            <div class="maincard---content">
                                <div class="row align-items-center">
                                    <div class="col-lg-6">
                                        <h3>Heading</h3>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="float-right">
                                            <p>auther name <span class="Authername---time">Feb 12 2019</span></p>
                                        </div>
                                    </div>
                                </div>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                <div class="cardAuther---icons row align-items-center col-lg-4 pt-3">
                                    <div>
                                        <span><img src="~/Content/Images/Others/brain.png" alt="" data-toggle="tooltip" data-placement="top" title="1000 Likes"></span>
                                        <span><img src="~/Content/Images/Others/eye.png" alt="" data-toggle="tooltip" data-placement="top" title="1000 Views"></span>
                                        <span><img src="~/Content/Images/Others/comments.png" alt="" data-toggle="tooltip" data-placement="top" title="100 Commnts"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="pt-4 pb-4">
            <a href="#">
                <div class="main-card">
                    <div class="row">
                        <div class="col-lg-5">
                            <img src="~/Content/Images/Others/blog-card.jpeg" />
                        </div>
                        <div class="col-lg-7">
                            <div class="maincard---content">
                                <div class="row align-items-center">
                                    <div class="col-lg-6">
                                        <h3>Heading</h3>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="float-right">
                                            <p>auther name <span class="Authername---time">Feb 12 2019</span></p>
                                        </div>
                                    </div>
                                </div>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                <div class="cardAuther---icons row align-items-center col-lg-4 pt-3">
                                    <div>
                                        <span><img src="~/Content/Images/Others/brain.png" alt="" data-toggle="tooltip" data-placement="top" title="1000 Likes"></span>
                                        <span><img src="~/Content/Images/Others/eye.png" alt="" data-toggle="tooltip" data-placement="top" title="1000 Views"></span>
                                        <span><img src="~/Content/Images/Others/comments.png" alt="" data-toggle="tooltip" data-placement="top" title="100 Commnts"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>