<div class="headerslide-menu">
    <div class="center">
        <div>
            <a href="">Home</a>
        </div>
        <div>
            <a href="">Sports</a>
        </div>
        <div>
            <a href="">News</a>
        </div>
        <div>
            <a href="">Science</a>
        </div>
        <div>
            <a href="">Future</a>
        </div>
        <div>
            <a href="">Home</a>
        </div>
        <div>
            <a href="">Sports</a>
        </div>
        <div>
            <a href="">News</a>
        </div>
        <div>
            <a href="">Science</a>
        </div>
        <div>
            <a href="">Future</a>
        </div>
    </div>
</div>