@using Microsoft.AspNet.Identity

<div class="user">
    <div class="user-ava">
        <img src="~/Content/Images/Others/Admin/avatar-icon.png" alt="">
    </div>
    <div class="user-name">
        <span>@User.Identity.GetUserName()</span>
    </div>
    <div class="user-icon">
        <i class="fas fa-angle-down"></i>
    </div>
    <div class="dropdown hide">
        @if (Request.IsAuthenticated)
        {
            using (Html.BeginForm("LogOff", "Account",new { Area=""},FormMethod.Post, new { id = "logoutForm" }))
            {
                @Html.AntiForgeryToken()
                <ul>
                    @if (User.IsInRole("Admin"))
                    {
                        @*<li>
                            <a href="@Url.Action("Admin","Profile",new { Area="Admin"})">Profile</a>
                        </li>*@
                        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                    }
                    @if (User.IsInRole("Author"))
                    {
                        <li>
                            <a href="@Url.Action("Author","Profile",new { Area="Admin"})">Profile</a>
                        </li>
                        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                    }
                </ul>
            }
        }
    </div>
</div>
